<!DOCTYPE html>
<html lang="da">

<head>

    <meta charset="UTF-8">

    <title>Booking</title>

</head>

<body>

    <h1>Book træning</h1>

    <form method="POST">

        <label>Vælg træning</label>

        <select name="training">

            <option value="Mustafa Baskaya|12:00">
                Mustafa Baskaya - 12:00 (5 pladser)
            </option>

            <option value="Muzaffer Celik|14:00">
                Muzaffer Celik - 14:00 (5 pladser)
            </option>

            <option value="Mehmet Dagli|16:00">
                Mehmet Dagli - 16:00 (5 pladser)
            </option>

        </select>

        <br><br>

        <label>Vælg dato</label>

        <input type="date"
               name="date">

        <br><br>

        <button type="submit">

            Book træning

        </button>

    </form>

</body>

</html>