<!DOCTYPE html>

<html lang="da">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Diamond Football Academy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>


<nav class="navbar">

    <div class="logo">

        <img src="{{ url_for('static', filename='images/logo.png') }}">

    </div>

    <div class="menu">

        <a href="/">FORSIDE</a>

        <a href="/login">LOGIN</a>

        <a href="#">TRÆNERNE</a>

    </div>

</nav>


<section class="hero">

    
    <video autoplay muted loop playsinline class="hero-video">

        <source src="{{ url_for('static', filename='videos/hero.mp4') }}" type="video/mp4">

    </video>

    <div class="overlay"></div>

    <div class="hero-content">

        <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        class="hero-logo"
        >

        <h1>DIAMOND FOOTBALL ACADEMY</h1>

        <p>
            Professionel træning og online booking
        </p>

    </div>

</section>

</body>

</html>